In [105]:
import pandas as pd

In [106]:
df=pd.read_csv("Tweet Sentiment Analysis.csv")
df.head()

                                               tweet  label
0  BofA previews Netflixs NFLX Q3 Earnings Tues 0...      0
1  I scooped a couple of shares this morning at a...      0
2  Im streaming ES Futures using Bookmap on youtu...      0
3             CF taking some off here close to 19150      1
4  No change to this position is still bullish st...      0

In [107]:
df['tweet']=df.iloc[:,0].str.lower()

df.head()

                                               tweet  label
0  bofa previews netflixs nflx q3 earnings tues 0...      0
1  i scooped a couple of shares this morning at a...      0
2  im streaming es futures using bookmap on youtu...      0
3             cf taking some off here close to 19150      1
4  no change to this position is still bullish st...      0

In [108]:
import regex as re

In [109]:
def clean_tweet(text):
    pattern=re.compile(r'<.*?>')
    text=pattern.sub(r'',text)
    return text

In [110]:
df["tweet"]=df["tweet"].apply(clean_tweet)

In [111]:
df.head()

                                               tweet  label
0  bofa previews netflixs nflx q3 earnings tues 0...      0
1  i scooped a couple of shares this morning at a...      0
2  im streaming es futures using bookmap on youtu...      0
3             cf taking some off here close to 19150      1
4  no change to this position is still bullish st...      0

In [112]:
def remove_link(text):
    patten=re.compile(r"https?://\S+|www\.\S+")
    return patten.sub(r'',text)

In [113]:
df['tweet']=df['tweet'].apply(remove_link)

In [114]:
chat_words = {
    'AFAIK':'As Far As I Know',
    'AFK':'Away From Keyboard',
    'ASAP':'As Soon As Possible',
    "FYI": "For Your Information",
    "ASAP": "As Soon As Possible",
    "BRB": "Be Right Back",
    "BTW": "By The Way",
    "OMG": "Oh My God",
    "IMO": "In My Opinion",
    "LOL": "Laugh Out Loud",
    "TTYL": "Talk To You Later",
    "GTG": "Got To Go",
    "TTYT": "Talk To You Tomorrow",
    "IDK": "I Don't Know",
    "TMI": "Too Much Information",
    "IMHO": "In My Humble Opinion",
    "ICYMI": "In Case You Missed It",
    "AFAIK": "As Far As I Know",
    "BTW": "By The Way",
    "FAQ": "Frequently Asked Questions",
    "TGIF": "Thank God It's Friday",
    "FYA": "For Your Action",
    "ICYMI": "In Case You Missed It",
}

In [115]:
def chat_convert(text):
    new_text=[]
    for w in text.split():
        if w.upper() in chat_words.keys():
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [116]:
df['tweet']=df['tweet'].apply(chat_convert)

In [117]:
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")
stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vasud\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [118]:
from nltk.tokenize import word_tokenize
def remove_stopwords(text,Language="english"):

    stop_words=set(stopwords.words("english"))
    word_token= word_tokenize(text)
    filtered_sentence=[w for w in word_token if not w in stop_words]
    return filtered_sentence

In [119]:
df['tweet']=df['tweet'].apply(remove_stopwords)

In [120]:
df.head()

                                               tweet  label
0  [bofa, previews, netflixs, nflx, q3, earnings,...      0
1    [scooped, couple, shares, morning, 52, wk, low]      0
2  [im, streaming, es, futures, using, bookmap, y...      0
3                         [cf, taking, close, 19150]      1
4  [change, position, still, bullish, structured,...      0

In [125]:
import emoji
df['tweet'] = df['tweet'].apply(lambda x: (emoji.replace_emoji(x, replace=' ')))

In [126]:
df.head()

                                               tweet  label
0  b o f a p r e v i e w s n e t f l i x s n f l ...      0
1  s c o o p e d c o u p l e s h a r e s m o r n ...      0
2  i m s t r e a m i n g e s f u t u r e s u s i ...      0
3                c f t a k i n g c l o s e 1 9 1 5 0      1
4  c h a n g e p o s i t i o n s t i l l b u l l ...      0