In [1]:
import pandas as pd
import numpy as np

In [2]:
st_per = pd.read_csv('social_media_engagement1.csv')
st_per

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,694,Sunday,neutral
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative
3,4,Twitter,image,11/16/2023 0:45,1183,90,187,Thursday,negative
4,5,Twitter,video,5/23/2023 0:30,3499,247,286,Tuesday,positive
...,...,...,...,...,...,...,...,...,...
95,96,Instagram,carousel,7/12/2023 17:45,36,294,911,Wednesday,positive
96,97,Twitter,video,10/27/2023 23:45,314,108,458,Friday,neutral
97,98,Twitter,text,8/5/2023 8:45,229,179,38,Saturday,positive
98,99,Instagram,poll,12/29/2023 12:15,5000,500,204,Friday,positive
99,100,Instagram,image,6/6/2023 21:00,4483,357,25,Tuesday,neutral

In [ ]:
#feacher selection tecniq
st_per['likes']

0     2121
1     3660
2     4955
3     1183
4     3499
      ...
95      36
96     314
97     229
98    5000
99    4483
Name: likes, Length: 100, dtype: int64

In [4]:
st_per[['post_id',	'platform',	'post_type',	'post_time']]

    post_id   platform post_type         post_time
0         1   Facebook     image   8/17/2023 14:45
1         2   Facebook  carousel    5/14/2023 0:45
2         3  Instagram      poll   2/21/2023 16:15
3         4    Twitter     image   11/16/2023 0:45
4         5    Twitter     video    5/23/2023 0:30
..      ...        ...       ...               ...
95       96  Instagram  carousel   7/12/2023 17:45
96       97    Twitter     video  10/27/2023 23:45
97       98    Twitter      text     8/5/2023 8:45
98       99  Instagram      poll  12/29/2023 12:15
99      100  Instagram     image    6/6/2023 21:00

[100 rows x 4 columns]

In [5]:
new_data=st_per[['post_id',	'platform'	,'post_type'	,'post_time']]
new_data

    post_id   platform post_type         post_time
0         1   Facebook     image   8/17/2023 14:45
1         2   Facebook  carousel    5/14/2023 0:45
2         3  Instagram      poll   2/21/2023 16:15
3         4    Twitter     image   11/16/2023 0:45
4         5    Twitter     video    5/23/2023 0:30
..      ...        ...       ...               ...
95       96  Instagram  carousel   7/12/2023 17:45
96       97    Twitter     video  10/27/2023 23:45
97       98    Twitter      text     8/5/2023 8:45
98       99  Instagram      poll  12/29/2023 12:15
99      100  Instagram     image    6/6/2023 21:00

[100 rows x 4 columns]

In [6]:
#column
st_per.columns

Index(['post_id', 'platform', 'post_type', 'post_time', 'likes', 'comments',
       'shares', 'post_day', 'sentiment_score'],
      dtype='object')

In [8]:
st_per.info

<bound method DataFrame.info of     post_id   platform post_type         post_time  likes  comments  shares  \
0         1   Facebook     image   8/17/2023 14:45   2121       474     628
1         2   Facebook  carousel    5/14/2023 0:45   3660       432     694
2         3  Instagram      poll   2/21/2023 16:15   4955       408     688
3         4    Twitter     image   11/16/2023 0:45   1183        90     187
4         5    Twitter     video    5/23/2023 0:30   3499       247     286
..      ...        ...       ...               ...    ...       ...     ...
95       96  Instagram  carousel   7/12/2023 17:45     36       294     911
96       97    Twitter     video  10/27/2023 23:45    314       108     458
97       98    Twitter      text     8/5/2023 8:45    229       179      38
98       99  Instagram      poll  12/29/2023 12:15   5000       500     204
99      100  Instagram     image    6/6/2023 21:00   4483       357      25

     post_day sentiment_score
0    Thursday        positive
1      Sunday         neutral
2     Tuesday        negative
3    Thursday        negative
4     Tuesday        positive
..        ...             ...
95  Wednesday        positive
96     Friday         neutral
97   Saturday        positive
98     Friday        positive
99    Tuesday         neutral

[100 rows x 9 columns]>

In [9]:
st_per.select_dtypes(include=int)

    post_id  likes  comments  shares
0         1   2121       474     628
1         2   3660       432     694
2         3   4955       408     688
3         4   1183        90     187
4         5   3499       247     286
..      ...    ...       ...     ...
95       96     36       294     911
96       97    314       108     458
97       98    229       179      38
98       99   5000       500     204
99      100   4483       357      25

[100 rows x 4 columns]

In [10]:
st_per.select_dtypes(include='number')

    post_id  likes  comments  shares
0         1   2121       474     628
1         2   3660       432     694
2         3   4955       408     688
3         4   1183        90     187
4         5   3499       247     286
..      ...    ...       ...     ...
95       96     36       294     911
96       97    314       108     458
97       98    229       179      38
98       99   5000       500     204
99      100   4483       357      25

[100 rows x 4 columns]

In [11]:
st_per.select_dtypes(include='object')

     platform post_type         post_time   post_day sentiment_score
0    Facebook     image   8/17/2023 14:45   Thursday        positive
1    Facebook  carousel    5/14/2023 0:45     Sunday         neutral
2   Instagram      poll   2/21/2023 16:15    Tuesday        negative
3     Twitter     image   11/16/2023 0:45   Thursday        negative
4     Twitter     video    5/23/2023 0:30    Tuesday        positive
..        ...       ...               ...        ...             ...
95  Instagram  carousel   7/12/2023 17:45  Wednesday        positive
96    Twitter     video  10/27/2023 23:45     Friday         neutral
97    Twitter      text     8/5/2023 8:45   Saturday        positive
98  Instagram      poll  12/29/2023 12:15     Friday        positive
99  Instagram     image    6/6/2023 21:00    Tuesday         neutral

[100 rows x 5 columns]

In [12]:
st_per.select_dtypes(exclude='number')

     platform post_type         post_time   post_day sentiment_score
0    Facebook     image   8/17/2023 14:45   Thursday        positive
1    Facebook  carousel    5/14/2023 0:45     Sunday         neutral
2   Instagram      poll   2/21/2023 16:15    Tuesday        negative
3     Twitter     image   11/16/2023 0:45   Thursday        negative
4     Twitter     video    5/23/2023 0:30    Tuesday        positive
..        ...       ...               ...        ...             ...
95  Instagram  carousel   7/12/2023 17:45  Wednesday        positive
96    Twitter     video  10/27/2023 23:45     Friday         neutral
97    Twitter      text     8/5/2023 8:45   Saturday        positive
98  Instagram      poll  12/29/2023 12:15     Friday        positive
99  Instagram     image    6/6/2023 21:00    Tuesday         neutral

[100 rows x 5 columns]

In [13]:
st_per['comments'][0]

np.int64(474)

In [15]:
st_per['comments'][4]

np.int64(247)

In [16]:
st_per['shares'][40:50]

40    461
41    730
42     85
43    177
44    118
45    427
46    993
47     16
48    298
49    127
Name: shares, dtype: int64

In [22]:
st_per[['shares','comments']][40:50]

    shares  comments
40     461       176
41     730       252
42      85        97
43     177        50
44     118       132
45     427       380
46     993        44
47      16       232
48     298       169
49     127       206

In [19]:
st_per["shares"][1]=324

C:\Users\vasud\AppData\Local\Temp\ipykernel_20108\4228559675.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  st_per["shares"][1]=324
C:\Users\vasud\AppData\Local\Temp\ipykernel_20108\4228559675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  st_per["shares"][1]=324

In [23]:
st_per

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,324,Sunday,neutral
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative
3,4,Twitter,image,11/16/2023 0:45,1183,90,187,Thursday,negative
4,5,Twitter,video,5/23/2023 0:30,3499,247,286,Tuesday,positive
...,...,...,...,...,...,...,...,...,...
95,96,Instagram,carousel,7/12/2023 17:45,36,294,911,Wednesday,positive
96,97,Twitter,video,10/27/2023 23:45,314,108,458,Friday,neutral
97,98,Twitter,text,8/5/2023 8:45,229,179,38,Saturday,positive
98,99,Instagram,poll,12/29/2023 12:15,5000,500,204,Friday,positive
99,100,Instagram,image,6/6/2023 21:00,4483,357,25,Tuesday,neutral

In [26]:
st_per.loc[(st_per.platform=="Twitter")]

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
3,4,Twitter,image,11/16/2023 0:45,1183,90,187,Thursday,negative
4,5,Twitter,video,5/23/2023 0:30,3499,247,286,Tuesday,positive
9,10,Twitter,carousel,5/11/2023 11:00,1878,225,438,Thursday,neutral
10,11,Twitter,text,12/8/2023 2:15,1446,44,52,Friday,negative
11,12,Twitter,video,6/15/2023 3:15,304,42,89,Thursday,positive
13,14,Twitter,text,9/30/2023 10:30,1333,144,123,Saturday,positive
15,16,Twitter,image,2/10/2023 13:00,2348,154,18,Friday,neutral
17,18,Twitter,text,7/23/2023 5:45,512,123,338,Sunday,neutral
18,19,Twitter,text,11/20/2023 2:00,2013,122,183,Monday,positive
20,21,Twitter,poll,5/2/2023 6:15,559,136,55,Tuesday,neutral
21,22,Twitter,carousel,1/30/2023 13:30,1961,44,439,Monday,positive
22,23,Twitter,text,10/2/2023 12:15,332,109,348,Monday,positive
24,25,Twitter,poll,5/17/2023 0:15,898,130,480,Wednesday,positive
32,33,Twitter,video,9/27/2023 19:00,119,147,240,Wednesday,positive
33,34,Twitter,poll,2/9/2023 15:30,2253,162,28,Thursday,positive
37,38,Twitter,poll,5/2/2023 0:30,2463,187,445,Tuesday,positive
40,41,Twitter,carousel,12/27/2023 11:30,667,176,461,Wednesday,positive
42,43,Twitter,carousel,3/31/2023 16:00,2586,97,85,Friday,positive
44,45,Twitter,video,12/1/2023 10:00,2236,132,118,Friday,positive
48,49,Twitter,image,4/17/2023 15:00,725,169,298,Monday,neutral
50,51,Twitter,text,2/14/2023 18:00,1268,73,251,Tuesday,positive
51,52,Twitter,image,7/14/2023 15:00,950,113,327,Friday,positive
52,53,Twitter,video,11/12/2023 17:30,1498,46,96,Sunday,positive
54,55,Twitter,carousel,10/2/2023 23:30,592,34,496,Monday,neutral
58,59,Twitter,video,12/24/2023 7:45,344,99,194,Sunday,neutral
62,63,Twitter,image,5/15/2023 6:30,227,163,127,Monday,neutral
68,69,Twitter,image,10/14/2023 18:45,187,89,284,Saturday,neutral
76,77,Twitter,carousel,7/5/2023 18:15,3571,102,96,Wednesday,positive
85,86,Twitter,text,11/25/2023 7:30,2416,50,62,Saturday,positive
88,89,Twitter,carousel,5/3/2023 8:00,2884,197,339,Wednesday,positive
96,97,Twitter,video,10/27/2023 23:45,314,108,458,Friday,neutral
97,98,Twitter,text,8/5/2023 8:45,229,179,38,Saturday,positive

In [30]:
st_per.loc[(st_per.platform)]

KeyError: "None of [Index(['Facebook', 'Facebook', 'Instagram', 'Twitter', 'Twitter', 'Instagram',\n       'Instagram', 'Instagram', 'Facebook', 'Twitter', 'Twitter', 'Twitter',\n       'Facebook', 'Twitter', 'Facebook', 'Twitter', 'Instagram', 'Twitter',\n       'Twitter', 'Facebook', 'Twitter', 'Twitter', 'Twitter', 'Instagram',\n       'Twitter', 'Facebook', 'Instagram', 'Facebook', 'Facebook', 'Facebook',\n       'Facebook', 'Instagram', 'Twitter', 'Twitter', 'Instagram', 'Facebook',\n       'Facebook', 'Twitter', 'Facebook', 'Instagram', 'Twitter', 'Instagram',\n       'Twitter', 'Instagram', 'Twitter', 'Instagram', 'Facebook', 'Facebook',\n       'Twitter', 'Instagram', 'Twitter', 'Twitter', 'Twitter', 'Instagram',\n       'Twitter', 'Instagram', 'Instagram', 'Facebook', 'Twitter', 'Instagram',\n       'Instagram', 'Facebook', 'Twitter', 'Instagram', 'Instagram',\n       'Facebook', 'Facebook', 'Instagram', 'Twitter', 'Facebook', 'Instagram',\n       'Facebook', 'Facebook', 'Instagram', 'Facebook', 'Instagram', 'Twitter',\n       'Instagram', 'Instagram', 'Facebook', 'Facebook', 'Instagram',\n       'Instagram', 'Facebook', 'Facebook', 'Twitter', 'Instagram', 'Facebook',\n       'Twitter', 'Instagram', 'Facebook', 'Facebook', 'Instagram', 'Facebook',\n       'Instagram', 'Instagram', 'Twitter', 'Twitter', 'Instagram',\n       'Instagram'],\n      dtype='object')] are in the [index]"

In [31]:
st_per.loc[(st_per.post_day=="Sunday")]

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,324,Sunday,neutral
6,7,Instagram,image,2/26/2023 11:45,1982,30,906,Sunday,positive
17,18,Twitter,text,7/23/2023 5:45,512,123,338,Sunday,neutral
23,24,Instagram,carousel,1/1/2023 20:00,5000,80,399,Sunday,positive
30,31,Facebook,poll,9/10/2023 13:45,4795,449,978,Sunday,negative
38,39,Facebook,video,1/1/2023 6:00,5000,430,980,Sunday,neutral
52,53,Twitter,video,11/12/2023 17:30,1498,46,96,Sunday,positive
58,59,Twitter,video,12/24/2023 7:45,344,99,194,Sunday,neutral
60,61,Instagram,video,12/31/2023 22:30,3544,167,761,Sunday,negative
66,67,Facebook,carousel,4/23/2023 8:15,2026,390,165,Sunday,negative
79,80,Facebook,text,6/25/2023 15:15,553,320,312,Sunday,positive
81,82,Instagram,carousel,11/19/2023 12:30,4656,314,757,Sunday,negative
89,90,Instagram,poll,3/19/2023 4:00,3195,109,243,Sunday,negative
92,93,Instagram,carousel,5/7/2023 0:30,951,432,734,Sunday,negative

In [32]:
st_per.loc[[1,6,9,34,56]]

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,324,Sunday,neutral
6,7,Instagram,image,2/26/2023 11:45,1982,30,906,Sunday,positive
9,10,Twitter,carousel,5/11/2023 11:00,1878,225,438,Thursday,neutral
34,35,Instagram,image,6/6/2023 19:30,1309,201,852,Tuesday,negative
56,57,Instagram,video,7/13/2023 9:15,4846,134,498,Thursday,neutral

In [ ]:
st_per.loc[[1,6,9,34,56],]

In [ ]:
st_per.loc[(st_per['comments']>=500) &(st_per['post_type']=='video')]
# loc are used to filtreat our data

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
35,36,Facebook,video,4/8/2023 19:15,5000,500,43,Saturday,positive
74,75,Facebook,video,7/26/2023 20:15,5000,500,404,Wednesday,positive

In [39]:
st_per.loc[(st_per['post_day']=='Thursday')&(st_per['sentiment_score']=='positive')]

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive
11,12,Twitter,video,6/15/2023 3:15,304,42,89,Thursday,positive
19,20,Facebook,image,2/2/2023 16:00,455,86,79,Thursday,positive
33,34,Twitter,poll,2/9/2023 15:30,2253,162,28,Thursday,positive
77,78,Instagram,poll,1/19/2023 7:15,2990,30,365,Thursday,positive
91,92,Facebook,video,2/23/2023 17:15,1857,216,344,Thursday,positive

In [40]:
st_per.iloc[0:5,0:5]

   post_id   platform post_type        post_time  likes
0        1   Facebook     image  8/17/2023 14:45   2121
1        2   Facebook  carousel   5/14/2023 0:45   3660
2        3  Instagram      poll  2/21/2023 16:15   4955
3        4    Twitter     image  11/16/2023 0:45   1183
4        5    Twitter     video   5/23/2023 0:30   3499

In [43]:
st_per.iloc[0:5,0:5]

   post_id   platform post_type        post_time  likes
0        1   Facebook     image  8/17/2023 14:45   2121
1        2   Facebook  carousel   5/14/2023 0:45   3660
2        3  Instagram      poll  2/21/2023 16:15   4955
3        4    Twitter     image  11/16/2023 0:45   1183
4        5    Twitter     video   5/23/2023 0:30   3499

In [45]:
#short values

st_per.sort_values('shares',ascending=False,ignore_index=True)

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,47,Facebook,poll,8/8/2023 17:45,4726,44,993,Tuesday,negative
1,39,Facebook,video,1/1/2023 6:00,5000,430,980,Sunday,neutral
2,31,Facebook,poll,9/10/2023 13:45,4795,449,978,Sunday,negative
3,70,Facebook,text,6/12/2023 9:30,3094,86,965,Monday,negative
4,60,Instagram,carousel,5/19/2023 4:30,4763,332,956,Friday,positive
...,...,...,...,...,...,...,...,...,...
95,98,Twitter,text,8/5/2023 8:45,229,179,38,Saturday,positive
96,34,Twitter,poll,2/9/2023 15:30,2253,162,28,Thursday,positive
97,100,Instagram,image,6/6/2023 21:00,4483,357,25,Tuesday,neutral
98,16,Twitter,image,2/10/2023 13:00,2348,154,18,Friday,neutral
99,48,Facebook,video,3/22/2023 3:15,5000,232,16,Wednesday,negative

In [46]:

st_per.rename(columns={"platform":'plat_form',"post_id":'id'})

,id,plat_form,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,324,Sunday,neutral
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative
3,4,Twitter,image,11/16/2023 0:45,1183,90,187,Thursday,negative
4,5,Twitter,video,5/23/2023 0:30,3499,247,286,Tuesday,positive
...,...,...,...,...,...,...,...,...,...
95,96,Instagram,carousel,7/12/2023 17:45,36,294,911,Wednesday,positive
96,97,Twitter,video,10/27/2023 23:45,314,108,458,Friday,neutral
97,98,Twitter,text,8/5/2023 8:45,229,179,38,Saturday,positive
98,99,Instagram,poll,12/29/2023 12:15,5000,500,204,Friday,positive
99,100,Instagram,image,6/6/2023 21:00,4483,357,25,Tuesday,neutral

In [48]:
st_per.sort_values('post_day',ascending=True,ignore_index=True)

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,16,Twitter,image,2/10/2023 13:00,2348,154,18,Friday,neutral
1,30,Facebook,carousel,2/3/2023 0:30,4594,216,739,Friday,positive
2,52,Twitter,image,7/14/2023 15:00,950,113,327,Friday,positive
3,43,Twitter,carousel,3/31/2023 16:00,2586,97,85,Friday,positive
4,40,Instagram,carousel,8/4/2023 12:45,447,333,845,Friday,negative
...,...,...,...,...,...,...,...,...,...
95,58,Facebook,video,12/27/2023 4:00,2204,116,728,Wednesday,neutral
96,75,Facebook,video,7/26/2023 20:15,5000,500,404,Wednesday,positive
97,64,Instagram,carousel,4/19/2023 19:45,130,452,724,Wednesday,neutral
98,88,Facebook,text,5/3/2023 12:30,3404,244,67,Wednesday,positive
99,50,Instagram,text,7/12/2023 0:00,1551,206,127,Wednesday,negative